{% extends 'base.html' %}

{% block content %}
<h1>Hangman</h1>

<span>
    {% for char in hangman.current_word %}
    {{ char }}
    {% endfor %}
</span>

<div class="container-sm">
    <form action="{{ url_for('game') }}" method="post">
        <input type="string" name="letter">
        <button type="submit" class="btn btn-primary">Guess</button>
    </form>
</div>

<h3>Lives: {{ hangman.lives }}</h3>

<h4>Guessed Letters</h4>
{% for letter in hangman.guessed %}
{{ letter }}
{% endfor %}

{% endblock %}